@import 'common';

@font-face {
	font-family: 'My Consolas';
	src: url('../assets/fonts/Consolas.ttf');
}

nav.navigation {
	background-color: $color-accent;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	transition: all .1s;

	&.hide { width: 44px; }
	&.show { width: 200px; }

	.tabs {
		margin: 0;
		list-style: none;

		li {
			height: 32px;
			box-sizing: content-box;
			padding: 6px 10px;
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: all .05s;
			white-space: nowrap;
			overflow: hidden;

			i {
				font-size: 1.5rem;
				margin-right: 10px;
			}

			&:not(.selected):hover {
				background-color: rgba(white, .08);
			}

			&[data-bind="console"].selected::after {
				border-right-color: rgb(30, 30, 30);
			}
			&.selected {
				background-color: rgba(white, .6);
				color: darken($color-accent, 15%);
				position: relative;

				&::after {
					content: '';
					position: absolute;
					right: 0;
					border: solid transparent 6px;
					border-right: solid white 6px;
				}
			}
		}
	}

	.nav-control {
		display: flex;
		flex-direction: row;
		height: 20px;
		margin: auto 0 10px 0;

		button {
			width: 20px;
			height: 20px;
			margin: 0 12px 0 auto;
			padding: 0;
			border: solid whitesmoke 2px;
			border-radius: 2px;
			color: whitesmoke;
			font-size: .7rem;
		}
	}

	&.show {
		#nav-show { display: none; }
		#nav-hide { display: inline-block; }
	}
	&.hide {
		#nav-show { display: inline-block; }
		#nav-hide { display: none; }
	}
}

.contents {
	min-width: 0;

	.content {
		display: none;
		height: 100%;
		overflow: auto;

		&.show {
			display: block;
		}
	}
}

$color-terminal-bg: rgb(30, 30, 30);
$color-terminal-text: rgb(216, 228, 228);

.cmd, .cmd span:not(.fas):not(.far):not(.fa), .terminal, .terminal-output>:not(.raw), .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) span:not(.fas):not(.far):not(.fa) {
	font-family: 'My Consolas', 'sans-serif';
}
.cmd, .cmd div, .cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji) {
	color: $color-terminal-text;
	background-color: $color-terminal-bg;
}
.terminal {
	background-color: $color-terminal-bg;

	.terminal-wrapper .terminal-output > div:not(.raw) div {
		white-space: normal;
	}

	.terminal-command > div {
		background-color: $color-terminal-bg;
	}

	&::-webkit-scrollbar {
		width: 8px;
		background-color: $color-terminal-bg;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(white, .2);

		&:hover {
			background-color: rgba(white, .3);
		}
		&:active {
			background-color: rgba(white, .4);
		}
	}
}

div.list-tab {
	.label {
		h2 {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			border-bottom: solid #ccc 1px;

			span {
				font-weight: normal;
				font-size: 1.5rem;
				padding: 10px 10px 10px 20px;
				color: #222;
			}
		}
	}

	table {
		max-height: calc(100% - 1.5rem - 26px);

		tr {
			display: flex;
		}

		thead.thread-light {
			padding: 0 15px 0 0;
			background-color: rgb(245, 245, 245);
			border-bottom: solid gray 2px;

			tr {
				width: 100%;

				th[scope="col"] {
					border: none;
				}
			}
		}

		tbody {
			height: calc(100vh - 1.5rem - 67px);
			overflow: hidden scroll;
			padding: 0;

			&::-webkit-scrollbar {
				background-color: #eee;
				width: 15px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #bbb;
			}

			tr:hover {
				background-color: rgb(245, 245, 245);
			}

			td {
				display: flex;
				align-items: center;
				font-size: .9rem;

				button {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 8px;
					padding: 0;
					width: 1.5rem;
					height: 1.5rem;
		
					&::after {
						position: absolute;
						background-color: rgba(#6c757d, .9);
						margin-top: 50px;
						padding: 0 5px;
						pointer-events: none;
						border-radius: 2px;
						visibility: hidden;
						opacity: 0;
						transition: all .2s;
					}
					&:hover::after {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		border-bottom: solid #ccc 1px;
	}

	.control {
		div {
			display: flex;
			flex-direction: row;
			align-items: center;

			p {
				margin: 10px 0;
			}
		}
		.page-control {
			margin: 0 20px 0 auto;

			button {
				width: 30px;
				height: 30px;
				padding: 0;
				margin: 0 10px;

				.material-icons-outlined {
					font-size: 1.2rem;
					color: #555;
				}

				&:disabled .material-icons-outlined {
					color: #888;
				}

				&.page-first::after {
					content: '最初のページに移動';
				}
				&.page-back::after {
					content: '前のページに移動';
				}
				&.page-forward::after {
					content: '次のページに移動';
				}
				&::after {
					position: absolute;
					display: inline-block;
					margin: -20px 0 0 -100px;
					padding: 2px 5px;
					color: whitesmoke;
					font-size: .8rem;
					background-color: rgba(#444, .8);
					border-radius: 5px;
					pointer-events: none;

					visibility: hidden;
					opacity: 0;
					transform-origin: calc(140px - 50%) center;
					transform: scale(0.7) translateX(calc(-50% + 90px));
					transition: all .1s;
				}
				&:hover::after {
					visibility: visible;
					opacity: 1;
					transform: scale(1) translateX(calc(-50% + 90px));
				}
			}
		}
	}
}

div.tab-server-log {
	.label, table {
		min-width: 500px;
	}

	.label {
		h2 {
			& > span {
				margin-right: 20px;
			}

			form {
				display: flex;
				align-items: center;
				flex: 1;
				
				input {
					flex: 1;
					max-width: 300px;
					margin-left: auto;
					outline: 0;
					border: none;
					border-bottom: solid lightgray 1px;
					font-size: .9rem;
					height: 25px;
				}
				
				label {
					margin-left: 5px;
					position: relative;
					padding: 0;
					
					.bi {
						color: #333;
						font-size: 1.2rem;
						cursor: pointer;
					}
					
					&::after {
						content: 'フィルターのヒント';
						font-style: normal;
						font-size: 1rem;
						font-weight: normal;
						display: inline-block;
						position: absolute;
						margin-top: 10px;
						right: 30px;
						white-space: nowrap;
						background-color: rgba(#444, .8);
						color: whitesmoke;
						padding: 3px 5px;
						border-radius: 3px;
						pointer-events: none;
						opacity: 0;
						visibility: hidden;
						transform-origin: right;
						transform: scale(.8);
						transition: all .1s;
					}
					&:hover::after {
						opacity: 1;
						visibility: visible;
						transform: scale(1);
					}
				}
			}
		}
	}

	table {
		tr:not(.log-detail) {
			& > *:nth-child(1) {
				width: 70px;
				min-width: 70px;
			}
			& > *:nth-child(2) {
				width: 70px;
				min-width: 70px;
			}
			& > *:nth-child(3) {
				flex: 1;
				min-width: 100px;
			}
			& > *:nth-child(4) {
				width: 135px;
				min-width: 135px;
			}
		}

		.log-main {
			cursor: pointer;

			&.show {
				background-color: rgba($color-accent, .1);
				box-shadow: 0 -4px 9px -2px #dadce0;
			}
		}
		.log-main.show + .log-detail {
			visibility: visible;
		}
		tr.log-detail {
			visibility: hidden;
			transition: all .1s;
			height: 0;
			overflow-y: hidden;
			box-shadow: 0 5px 9px -2px #dadce0;

			td {
				width: 100%;
				font-family: 'My Consolas', sans-serif;
				font-size: .7rem;
				word-break: break-all;
			}
		}

		tbody {
			tr {
				& > *:nth-child(3) {
					font-family: 'My Consolas', sans-serif;
					font-size: .7rem;
				}
				& > *:nth-child(4) {
					font-size: .8rem;
				}
			}
		}
	}

	.loading-div {
		position: absolute;
		width: calc(100vw - 200px);
		background-color: rgba(white, .6);
		justify-content: center;
		align-items: center;

		.loading {
			display: inline-block;
			width: 100px;
			height: 100px;
			border: solid lighten($color-accent, 30%) 10px;
			border-top-color: $color-accent;
			border-radius: 50%;
			animation: rotation 1s infinite linear;
			@keyframes rotation {
				from { transform: rotate(0); }
				to { transform: rotate(360deg); }
			}
		}

		display: none;
		&.show {
			display: flex;
		}
	}
}

div.tab-users {
	.label, table {
		min-width: 650px;
	}

	table tr {
		& > *:nth-child(1) {
			width: 70px;
			min-width: 70px;
		}
		& > *:nth-child(2) {
			width: 200px;
			min-width: 200px;
		}
		& > *:nth-child(3) {
			flex: 1;
			min-width: 100px;
		}
		& > *:nth-child(4) {
			flex: 1;
			min-width: 200px;
		}
		& > *:nth-child(5) {
			display: flex;
			width: 80px;
			min-width: 80px;
		}
		
		& > td:nth-child(1) {
			padding: 4px 10px;

			img {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}
}

div.tab-ban-ip {
	.label, table {
		min-width: 600px;
	}

	.label form {
		margin: auto 20px 10px auto;
		width: 200px;
		height: 25px;
		display: flex;
		flex-direction: row;
		align-items: center;

		input {
			width: 175px;
			height: 25px;
			font-size: .9rem;
			outline: 0;
			border: none;
			border-bottom: solid #ccc 1px;
		}
		
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 25px;
			width: 25px;
			background-color: inherit;
			border: none;
			border-bottom: solid #ccc 1px;

			.bi {
				color: #999;
				font-size: 1.5rem;
			}
		}
	}

	table tr {
		& > *:nth-child(1) {
			width: 200px;
			min-width: 200px;
		}
		& > *:nth-child(2) {
			flex: 1;
			min-width: 100px;
		}
		& > *:nth-child(3) {
			width: 160px;
			min-width: 160px;
		}
		& > *:nth-child(4) {
			display: flex;
			width: 80px;
			min-width: 80px;
		}

		td button {
			&.remove::after {
				content: '削除';
			}
			&.edit::after {
				content: '編集';
			}
		}
	}
}

div.tab-status {
	padding: 0 20px 20px 20px;
	
	.monitor {
		width: 100%;

		h3 {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 10px 0 0 0;

			.label {
				margin: 0 10px 10px 0;
				font-family: var(--bs-font-sans-serif);
			}
			.info {
				display: flex;
				flex-wrap: wrap;
				font-weight: normal;
				font-size: 1rem;
				margin-left: auto;

				& > span {
					margin-bottom: 10px;
				}

				.res {
					display: inline-block;
					text-align: end;

					&.res-short { width: 30px; }
					&.res-long { width: 50px; }
				}

				.network-up, .network-down, .disk-read, .disk-write {
					display: flex;
					align-items: center;
					height: 1.5rem;
					border-left: solid 3px;
					padding-left: 3px;
				}
				.network-up, .network-down {
					border-left-color: rgb(167, 79, 1);
				}
				.disk-read, .disk-write {
					border-left-color: rgb(77, 166, 12);
				}
				.network-up, .disk-read {
					margin-right: 20px;
				}
				.network-down, .disk-write {
					border-left-style: dashed;
				}
			}
		}

		.chart-div {
			position: relative;
			width: 100%;
			height: 150px;
		}
	}
}

.overlay-window {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(black, .4);
	opacity: 0;
	overflow-y: initial;
	transition: all .2s;

	.overlay-content {
		z-index: 10;
		padding: 10px 20px;
		border-radius: 5px;
		box-shadow: rgba(gray, .1) 0 0 2px 2px;
		max-width: 600px;
		background-color: whitesmoke;
		overflow-y: auto;
		max-height: calc(100vh - 20px);

		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #ccc;
			border-radius: 5px;
			// border: solid #aaa 2px;
		}

		h2 {
			display: flex;
			align-items: center;

			span {
				font-size: 1.4rem;
			}

			.overlay-close {
				display: inline-block;
				width: 2rem;
				height: 2rem;
				margin-left: auto;
				border: none;
				background-color: transparent;
				border-radius: 50%;
				transition: all .2s;
				font-size: 1.5rem;
				
				&:hover {
					background-color: rgba(black, .05);
				}
			}
		}

		h3 {
			margin: 0;
			border-bottom: solid #ccc 1px;
			padding: 2px 0 2px 5px;
			margin: 0 0 10px 0;
			font-size: 1rem;
		}

		p {
			margin: 10px 0 10px 10px;
		}
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

#overlay-popup {
	position: fixed;
	right: 20px;
	top: 0;
	width: 300px;
	height: 100vh;
	padding-bottom: 10px;
	pointer-events: visible;
	visibility: hidden;
	display: flex;
	flex-direction: column-reverse;

	.popup-message {
		visibility: visible;
		position: relative;
		display: flex;
		align-items: center;
		padding: 5px 10px;

		&.info { background-color: rgba(black, .6); }
		&.err { background-color: rgba(#c00, .6); }

		transform-origin: bottom;
		animation: popup-end .5s 5.5s forwards, slide-in .5s;
		margin-top: 10px;
		overflow: hidden;
		left: 0;
		@keyframes slide-in {
			from {
				left: 100px;
				opacity: 0;
			}
			to {
				left: 0;
				opacity: 1;
			}
		}
		@keyframes popup-end {
			from {
				opacity: 1;
			}
			to {
				margin-top: 0;
				opacity: .5;
			}
		}

		&.close {
			animation: popup-end2 .5s linear forwards;
			@keyframes popup-end2 {
				from {
					opacity: 1;
				}
				to {
					margin-top: 0;
					opacity: .5;
				}
			}
		}

		span {
			color: whitesmoke;
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 7px;
			margin-left: auto;
			background-color: transparent;
			border-radius: 50%;
			outline: 0;

			svg {
				color: whitesmoke;
				width: 10px;
				height: 10px;
			}

			transition: all .1s;
			&:hover {
				background-color: rgba(white, .1);
			}
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			height: 2px;
			background-color: rgba(black, .3);

			animation: popup 5s .5s linear forwards;
			@keyframes popup {
				from {
					width: 0;
				}
				to {
					width: 100%;
				}
			}
		}
	}
}